{{> head }}


{{> navar }}

<div class="row">
  <div class="col-8">
    <h1>Esta es la Carla</h1>
    <p>esta es una descripcion de la imagen </p>
  </div>

  <div class="col4"><img src="assets/img/carla1.png" class="img-thumbnail"></div>
</div>

{{>footer }}